@page "/"
@using System.Runtime.InteropServices
@using Microsoft.EntityFrameworkCore
@using MyTaskManager.Data
@using Models

<PageTitle>Index</PageTitle>

<h1>Task Manager</h1>

<div id="add-task">
    <label for="title">Title</label>
    <input type="text" id="title" @bind="_newTitle" />
    
    <br />
    <button class="btn btn-primary" @onclick="@(async() => await AddTask())">Add Task</button>
</div>

<div id="save-data">
    <button class="btn btn-primary" disabled="@_isDataSaved" @onclick="@(async() => await SaveData())">Save Data</button>
</div>

<div id="todo-list">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Complete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ToDoItem item in todos)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>
                        <input type="text" @bind="@item.Title">
                    </td>
                    <td>
                        <input type="checkbox" @bind="@item.IsDone" @onclick=@(async() => await MarkAsCompleted(item))>
                    </td>
                    <td>
                        <label>Days to recur</label>
                        <input type="number" @bind="@item.DaysToRecur">
                    </td>
                    <td>
                        <input type="checkbox" @bind="@item.IsRecurring"> Is Recurring?
                    </td>
                    <td>
                        <input type="checkbox" @bind="@item.IsMoveableDate"> Is Moveable Date?
                    </td>
                    <td>
                        <label>@item.DueDate</label>
                    </td>
                    <td>
                        <button class="btn btn-primary" @onclick="@(async() => await UpdateTask(item))">Edit</button>
                        <button class="btn btn-danger" @onclick="@(async() => await DeleteTask(item))">Delete</button>
                    </td>
                    
                </tr>
            }
        </tbody>
   </table>
</div>